html, body{
  font-family: $fontSecondary;
  font-weight: 300;
  font-size: 21px;
  line-height: 28px;
  overflow-x: hidden;
}

h1{
  font-family: $fontPrimary;
  font-size: 36px;
  line-height: 48px;
}

h2{
  font-family: $fontPrimary;
  font-size: 30px;
  line-height: 40px;
}

h3{
  font-family: $fontPrimary;
  font-size: 26px;
  line-height: 34px;
}

h4{
  font-family: $fontPrimary;
  font-size: 24px;
  line-height: 32px;
}

h5{
  font-family: $fontPrimary;
  font-size: 21px;
  line-height: 28x;
}

h6{
  font-family: $fontPrimary;
  font-size: 18px;
  line-height: 24x;
}

a{
  color: $brand-primary;
  transition: all .3s ease;

  &:visited{
    color: $brand-dark;
  }

  &:hover{
    color: $brand-alert;
  }
}

input{
  padding: 6px;
}


#breadcrumbs{
  list-style:none;
  margin:0;
  overflow:hidden;
  width: 100%;
  background-color: $brand-light-gray;
  height: 48px;
  margin-bottom: 36px;

  li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    margin-top: 10px;
    font-size: 14px;

    strong{
      color: $brand-primary;
    }
  }

  .separator {
    font-size: 18px;
    font-weight: 100;
    color: #ccc;
  }
}

blockquote{
  width: 90%;
  margin: 0 auto;
  position: relative;
  padding: 20px 60px;
  text-align: center;

  footer{
    border-top: 2px solid $brand-primary;
    padding-top: 10px;
    color: $brand-dark;
  }
}

blockquote:before, blockquote:after {
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 100px;
  line-height: 1;
}
blockquote:before {
  top: 0;
  left: 0;
  content: "\201C";
  color: $brand-dark;
}

/* TEAM MEMBERS */

.teamMember{
  text-align: center;

  img{
    border-radius: 200px;
    border: 3px solid $brand-primary;
    transition: all .3s ease;
    max-width: 358px;
  }

  &:hover{
    img{
      border: 3px solid $brand-alternate;
    }
  }
}

/* END TEAM */

/* ICON STYLES */

.main{

  i.fa{
    display: inline-block;
    color: $brand-primary;
    border: 2px solid $brand-primary;
    border-radius: 100%;
    min-width: 40px;
    min-height: 40px;
    text-align: center;
    transition: all .3s ease;

    &::before{
      position: relative;
      top: 8px;
    }

    &:hover{
      color: $brand-white;
      background-color: $brand-primary;
      cursor: pointer;
    }
  }
}

/* END ICONS */

/* SEARCH MODULE */
.searchModule{
  width: 100%;
  height: 500px;
  overflow: hidden;
  margin-bottom: 60px;
  position: relative;
  background-image: url("../images/home-lifestyle.jpg"); //CHANGE THIS TO ACF UPLOAD!!!
  background-size: cover;

  .searchModule-title{
    position: absolute;
    top: 0px;
    width: 100%;
    text-align: center;
    color: $brand-white;
    padding: 24px;
    background-color: rgba($brand-darkest, .4);
    z-index: 1;
  }

  .searchModule-image{
    position: relative;
    width: 100%;
    height: auto;
    z-index: -1;
  }

  .searchModule-formContainer{
    width: 100%;
    background-color: rgba($brand-dark, .8);
    position: absolute;
    bottom: 0px;
    z-index: 2;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  form{

    button{

      &:hover{
        .fa-search{
          color: $brand-dark;
        }
      }
    }

    label{
      width: 100%;
      color: $brand-white;
    }

    input{
      width: 100%;
    }

    button{
      position: relative;
      top: 22px;
      width: 100%;
    }

    .fa-search{
      width: 10px;
      height: 10px;
      border: none;
      color: $brand-white;
      display: inline;
      position: relative;
      top: -10px;
      right: -6px;
      font-size: 18px;

      &:hover{
        color: $brand-dark;
        background-color: transparent;
      }
    }
  }
}

/*  END SEARCH MODULE */