html, body{
  font-family: $fontSecondary;
  font-weight: 300;
  font-size: 21px;
  line-height: 28px;
  overflow-x: hidden;
}

h1{
  font-family: $fontPrimary;
  font-size: 36px;
  line-height: 48px;
}

h2{
  font-family: $fontPrimary;
  font-size: 30px;
  line-height: 40px;
}

h3{
  font-family: $fontPrimary;
  font-size: 26px;
  line-height: 34px;
}

h4{
  font-family: $fontPrimary;
  font-size: 24px;
  line-height: 32px;
}

h5{
  font-family: $fontPrimary;
  font-size: 21px;
  line-height: 28x;
}

h6{
  font-family: $fontPrimary;
  font-size: 18px;
  line-height: 24x;
}

a{
  color: $brand-primary;
  transition: all .3s ease;

  &:visited{
    color: $brand-dark;
  }

  &:hover{
    color: $brand-alert;
    cursor: pointer;
  }
}

input{
  padding: 6px;
}


#breadcrumbs{
  list-style:none;
  margin:0;
  overflow:hidden;
  width: 100%;
  background-color: $brand-light-gray;
  height: 48px;
  margin-bottom: 36px;

  li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    margin-top: 10px;
    font-size: 14px;

    strong{
      color: $brand-primary;
    }
  }

  .separator {
    font-size: 18px;
    font-weight: 100;
    color: #ccc;
  }
}

blockquote{
  width: 90%;
  margin: 0 auto;
  position: relative;
  padding: 20px 60px;
  text-align: center;

  footer{
    border-top: 2px solid $brand-primary;
    padding-top: 10px;
    color: $brand-dark;
    background-color: transparent;
  }
}

blockquote:before, blockquote:after {
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 100px;
  line-height: 1;
}
blockquote:before {
  top: 0;
  left: 0;
  content: "\201C";
  color: $brand-dark;
}


/* ICON STYLES */

.main{

  i.fa{
    display: inline-block;
    color: $brand-primary;
    border: 2px solid $brand-primary;
    border-radius: 100%;
    min-width: 40px;
    min-height: 40px;
    text-align: center;
    transition: all .3s ease;

    &::before{
      position: relative;
      top: 8px;
    }

    &:hover{
      color: $brand-white;
      background-color: $brand-primary;
      cursor: pointer;
    }
  }
}

/* END ICONS */

/* LISTING STYLES */

.listing{
  box-shadow: 0px 0px 4px darken($brand-light-gray, 50%);
  position: relative;
  text-align: center;

  .listing-price{
    background-color: $brand-white;
    box-shadow: 0px 0px 2px darken($brand-light-gray, 50%);
    border-bottom: 2px solid $brand-alert;
    text-align: center;
    width: 150px;
    padding: 12px;
    position: absolute;
    top: 130px;
    left: 100px;
    color: $brand-primary;
  }

  .listing-details{
    padding-top: 12px;
    padding-bottom: 24px;
  }

  .listing-viewListing{
    position: absolute;
    bottom: -5px;
    left: 125px;
    color: $brand-primary;

    i{
      width: 12px;
      height: 12px;
      border: none;
      position: relative;
      top: -8px;
      left: -6px;
      font-size: 16px;

      &:hover{
        background-color: transparent;
        color: $brand-alert;
      }
    }

    &:hover{
      color: $brand-alert;

      i{
        color: $brand-alert;
      }
    }
  }
}

/* END LISTING STYLES */

/* TESTIMONIAL STYLES */
.testimonialsModule{
  width: 100%;
  background-color: $brand-primary;
  padding: 60px 0px;
  text-align: center;

  h2{
    color: $brand-white;
  }

  .testimonial{

    p.quote{
      color: $brand-white;
    }

    p.quoteAuthor{
      color: $brand-white;
      font-weight: bold;
    }
  }

  .slick-next{
    right: 100px;
    top: 20%;
    z-index: 10000;

    &::before{
      font-size: 72px;
      content: "\f105";
      font-family: FontAwesome;
    }
  }
  .slick-prev{
    left: 100px;
    top: 20%;
    z-index: 10000;
    &::before{
      font-size: 72px;
      content: "\f104";
      font-family: FontAwesome;
    }
  }
}

/* END TESTIMONIAL STYLES */