.banner{
  padding: 10px;
}

.brand{

  &:hover {
    text-decoration: none;
  }

  .logo{
    height: 100px;
    width: auto;
    display: inline-block;

    @media (max-width: $screen-md-max){
      height: 60px;
    }
  }

  h1{
    display: inline-block;
    font-size: 30px;
    position: relative;
    top: 6px;
    margin-left: 24px;

    @media (max-width: $screen-md-max){
      font-size: 26px;
      top: 6px;
    }
  }
}

.nav-primary{
  float: right;
  position: relative;
  top: 36px;
  display: flex;
  width: 100%;
  z-index: 10000;

  @media (max-width: $screen-md-max){
    display: none;
  }

  ul{
    width: 100%;

    li{
      flex-grow: 1;
      text-align: center;
      position: relative;

      &.active{
        a{
          color: $brand-primary;
        }
      }

      a{
        padding: 10px;
        border-bottom: 3px solid transparent;

        &:hover{
          color: $brand-primary;
          text-decoration: none;
          border-bottom: 3px solid $brand-primary;
        }
      }
    }
  }

  .sub-menu{
    list-style-type: none;
    border-top: 3px solid $brand-primary;
    display: none;
    position: absolute;
    left: 2px;
    top: 39px;
    padding-left: 0px;
    background-color: $brand-light-gray;
    box-shadow: 0px 4px 10 px darken($brand-light-gray, 50%);

    li{
      text-align: left !important;
      background-color: $brand-light-gray;
      transition: all .3s ease;
      padding: 6px;

      &:hover{
        background-color: $brand-alternate;
        cursor: pointer;

        a{
          color: $brand-white !important;
          border-bottom: 3px solid transparent;
        }
      }

      a{
        font-size: 16px;
        color: $brand-dark !important;
        transition: all .3s ease;
      }
    }
  }
}

.menu-item{

  &:hover{
    .sub-menu{
      display: block;
    }
  }
}


.nav-mobile{
  display: none;
  position: absolute;
  right: 24px;

  i{
    color: $brand-primary;
    width: 60px;
    height: 60px;
    padding: 20px;
    z-index: 128;
    font-size: 24px;

    &:hover{
      cursor: pointer;
    }
  }

  #mobile-nav-icons{
    z-index: 10008;
    position: relative;
  }

  .fa-times{
    display: none;
    color: $brand-white;

    &.activated{
      display: block;
    }
  }

  .fa-bars{
    display: none;

    &.activated{
      display: block;
    }
  }

  .mobile-nav-menu{
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    z-index: 10002;
    background-color: $brand-primary;
    transition: all .7s ease;
    padding-top: 100px;
    box-shadow: 2px 2px 10px $brand-dark;

    &.activated{
      right: 0;
    }
  }

  #menu-mobile-menu{
    width: 100%;
    text-align: center;
    display: block;
    padding-top: 36px;
    padding-right: 36px;

    li{
      width: 100%;
      display: block;

      a{
        color: $brand-white;
        font-size: 32px;
        line-height: 56px;
      }
    }
  }


  @media (max-width: $screen-md-max){
    display: block;
  }
}